:root {
    /*These allow quick changing of themes */
    --primary: #D3D0CB;
    --secondary: #374A67;
    --tertiary: #44BBA4;
    --bright: #E7BB41;
    --shadowed-bright: rgb(201, 167, 73);
    --link-color: #44BBA4;
    --light: #E7E5DF;
    --text-color: rgb(77, 100, 136);
    --shadow: #828080a6;
}

html,
body {
    padding: 0;
    margin: 0;
    background: var(--bright);
    font-family: 'Sarabun', sans-serif;
    color: var(--text-color);
}

nav {
    position: sticky;
    top: 0;
    background-color: var(--light);
    color: var(--link-color);
    z-index: 1000;
}

#big-nav {
    display: none;
    justify-content: space-around;
    align-content: center;
    align-items: stretch;
    justify-items: stretch;
    height: 8vh;
}

#big-nav .menu-item {
    font-size: 1.5em;
    height: 100%;
    width: 20%;
}

#small-nav {
    padding: 3px 3px 3px 15px;
    font-size: 2em;
    -webkit-box-shadow: 4px 2px 1px 2px var(--shadow);  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:    4px 2px 1px 2px var(--shadow);  /* Firefox 3.5 - 3.6 */
    box-shadow:         4px 2px 1px 2px var(--shadow);  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
    z-index: 100;
}

#small-nav .dropdown {
    display: none;
    flex-direction: column;
}

#expander:hover {
    color: var(--shadowed-bright)
}

.menu-item {
    text-align: center;
    text-decoration: none;
}

.menu-item:hover {
    background-color: var(--shadowed-bright);
}

#hero {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('static/hero-small.jpg');
}

#hero-title {
    color: whitesmoke;
    font-size: 2em;
    text-shadow: 0 0 5px #000;    
}

#container {
    width: 90%;
    margin: 0 auto;
    padding: 0;
    padding-bottom: 10px;
}

#text-container {
    width: 80%;
    margin: 0 auto;
    padding: 0;
    padding-bottom: 10px;
    line-height: 1.2em;
    font-size: 1.15em;
}

#text-container > * {
    margin-bottom: 2em;
}

header {
    background: var(--secondary);
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5em;
    color: var(--light);
}

header .pic {
    display: none;
    height: 100%;
    width: auto;
    border-radius: 50%;
}

.heading, .subheading {
    color: var(--secondary);
    text-align: center;
}

.heading {
    font-size: 2em;
    letter-spacing: 5px;
    text-transform: uppercase;
}

.main.subheading {
    font-weight: 700;
}

.life-pieces {
    column-count: 1;
    column-fill: balance;
}

.life-piece {
    background: var(--primary);
    margin: 0 auto;
    border: 1px solid grey;
    border-radius: .5em;
    padding: 1em;
    margin-bottom: 2em;
    width: 80%;
    -webkit-column-break-inside: avoid; /* Chrome, Safari, Opera */
              page-break-inside: avoid; /* Firefox */
                   break-inside: avoid; /* IE 10+ */
    -moz-box-shadow:    3px 3px 5px 2px var(--shadow);
    -webkit-box-shadow: 3px 3px 5px 2px var(--shadow);
    box-shadow:         3px 3px 5px 2px var(--shadow);
}

.life-piece p {
    font-size: 1.25em;
}

.life-piece img {
    width: 90%;
    height: auto;
}

#jumbotron {
    margin: 2em 0;
    width: 100%;
    display: flex;
    flex-direction: column;
}

#grow-up {
    flex: 1;
    width: 40%;
    height: auto;
    border-radius: 5%;
    margin: auto;
    display: block;
}

.titles {
    flex: 1;
}

.links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.links .link {
    box-sizing: border-box; 
    padding: 1em;
    text-align: center;
    background-color: var(--primary);
    margin: 1em;
    border-radius: 2em;
    width: 90%;
    flex-grow: 2;
    text-decoration: none;
}

#content {
    width: 90%;
    margin: 0 auto;
}

section .title {
    width: 100%;
    display: block;
    text-align: center;
}

.project-list {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: stretch;
}

.project-list .project {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    background-color: var(--primary);
    border-radius: 2em;
    padding: 1.5em;
    margin-bottom: 1.5em;
    grid-template-areas:
    "title"
    "description"
    "image";
}

.project-list .project .title { grid-area: title; }
.project-list .project .description { grid-area: description }
.project-list .project .link { grid-area: link }
.project-list .project img { grid-area: image }

.project-list .project .title {
    margin: .5em;
    height: auto;
    color: var(--link-color);
    text-decoration: none;
    font-size: 1.7em;
    color: var(--text-color);
}

.project-list .project .title:hover {
    color: var(--link-color);
}

.project-list .project img {
    width: 100%;
    height: auto;
    margin-top: 2em;
}

.project-list .project .link {
    display: none;
    margin: auto;
    font-size: 3em;
}

footer {
    background-color: var(--secondary);
    text-align: center;
    padding: 1em;
    color: var(--light);
}

footer p {
    margin: 0;
    padding: 0;
}

@media (min-width: 37.5em) {

    #text-container {
        width: 70%;
    }

    #hero {
        height: 80vh;
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('static/hero-medium.jpg');
    }

    header {
        height: 15vh;
    }

    header .pic {
        display: block;
    }

    .links {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .links .link {
        width: 40%;
    }

    .project-list {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .project-list .project {
        max-width: 35%;
    }

    #grow-up {
        width: 35%;
    }

    .main.heading {
        font-size: 2.5em;
    }

    .main.subheading {
        font-size: 2em;
        font-weight: 700;
    }

    .life-pieces {
        column-count: 2;
        -webkit-column-gap: 3em; /* Chrome, Safari, Opera */
        -moz-column-gap: 3em; /* Firefox */
        column-gap: 3em;
    }

    .life-piece {
        padding: 2em;
    }

    .life-piece .heading {
        margin: .5em;
        letter-spacing: 2px;
    }
    
    .life-piece p {
        font-size: 1.15em;
        line-height: 1.25em;
    }

    .life-piece img {
        margin-top: 10px;
    }

}

@media (min-width: 55em) {
    nav {
        position: relative;
    }

    #big-nav {
        display: flex;
    }

    #small-nav {
        display: none;
    }

    #hero {
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('static/hero.jpg');
    }    

    .links .link {
        width: 20%;
    }

    .project-list .project {
        flex: 1 0 auto;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        margin-bottom: 1.5em;
        grid-template-areas:
        "link title"
        "link description"
        "image image";
    }

    .project-list .project .link {
        display: block;
    }

    #jumbotron {
        flex-direction: row-reverse;
    }

    #jumbotron > * {
        width: 45%;
    }

    .titles .heading, .titles .subheading {
        text-align: left;
    }

    #grow-up {
        width: 90%;
    }

    .life-piece p {
        font-size: 1em;
        line-height: 1.5em;
    }
}